{
    "influxDb": {
        "version": 2,
        "url": "http://my.influxdb.hostname:8086",
        "org": "SE",
        "bucket": "vuegraf",
        "token": "d1R-CG8v8v48rWXvSW1H-xm2QjEpNPbj0IBvTSxu1dFjvPGW6mC0dgmvy8zrIDiyoOT2tkV_RGuWkPHzEQi54g=="
    },
    "accounts": [
        {
            "name": "Primary Residence",
            "email": "araceli.ag@solucionesenergia.com",
            "password": "Ilecara098"
        }
    ]
}